body {
  background-color: #232323;
  color: white;
  font-family: "Amiko", sans-serif;
  text-align: center;
}

#pricing-calculator {
  background-color: #3a3a3a;
  margin: 0rem 20rem 0.5rem 20rem;
  outline: solid 5px #6b6b6b;
  border-radius: 40px;
  text-align: left;
  padding: 5px 25px 25px 25px;
}

@media (max-width: 1200px) {
  #pricing-calculator {
    margin: 0rem 10rem 0.5rem 10rem;
  }
}

@media (max-width: 900px) {
  #pricing-calculator {
    margin: 0rem 1rem 0.5rem 1rem;
  }
}

.section-heading {
  text-transform: capitalize;
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

#total::before {
  content: "R";
}

#total {
  margin-top: 20px;
  font-size: 20px;
  border-top: solid 3px #878787;
  padding: 20px 0px 0px 0px;
  text-align: center;
  font-size: 25px;
  background: linear-gradient(to right, #3aff24, #0890ff, #f828f8, #ff49bc);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

label {
  padding: 0px 20px 0px 0px;
  text-transform: capitalize;
}

#software-section label {
  visibility: hidden;
  float: right;
}

@media (max-width: 600px) {
  #software-section label input {
    float: right;
  }
}

#software-section label input {
  visibility: visible;
  position: static;
  float: right;
}

#form-title {
  left: 20px;
  font-size: 30px;
  background: linear-gradient(to right, #3aff24, #0890ff, #f828f8, #ff49bc);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

input[type="checkbox"] {
  /* background-color: transparent;
  appearance: none;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

input[type="checkbox"] {
  accent-color: #f828f8;
  height: 30x;
  width: 30x;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}
